# Ignore everything:
*

# Except for the following:
# ========================

# core files
# ----------

!/.gitignore
!/README.md
!/makefile
!/LICENSE

!dosl/
!dosl/dosl

!dosl/utils/
!dosl/utils/*.hpp
!dosl/utils/*.tcc

!dosl/utils/*/
!dosl/utils/*/*.hpp
!dosl/utils/*/*.tcc

!dosl/aux-utils/
!dosl/aux-utils/*.hpp
!dosl/aux-utils/*.tcc

!dosl/encapsulations/
!dosl/encapsulations/*.hpp
!dosl/encapsulations/*.tcc

!dosl/planners/
!dosl/planners/*.tcc
!dosl/planners/*.hpp

# examples folder
# ---------------

!examples-dosl/
!examples-dosl/makefile

!examples-dosl/src/

!examples-dosl/src/test/
!examples-dosl/src/test/*.cpp

!examples-dosl/src/simple/
!examples-dosl/src/simple/*.cpp

!examples-dosl/src/advanced/
!examples-dosl/src/advanced/*.cpp

!examples-dosl/files/

!examples-dosl/files/expt/
!examples-dosl/files/expt/*.png
!examples-dosl/files/expt/*.json

!examples-dosl/files/out/
!examples-dosl/files/out/.blank

!examples-dosl/bin/
!examples-dosl/bin/.blank

!examples-dosl/python/
!examples-dosl/python/*.py


!examples-dosl/include-local/
!examples-dosl/include-local/*.h
!examples-dosl/include-local/*.hpp
!examples-dosl/include-local/*.cpp
!examples-dosl/include-local/*.tcc

!examples-dosl/include-local/*/
!examples-dosl/include-local/*/*.h
!examples-dosl/include-local/*/*.hpp
!examples-dosl/include-local/*/*.cpp
!examples-dosl/include-local/*/*.tcc

!examples-dosl/include-local/*/*/
!examples-dosl/include-local/*/*/*.h
!examples-dosl/include-local/*/*/*.hpp
!examples-dosl/include-local/*/*/*.cpp
!examples-dosl/include-local/*/*/*.tcc

