# Ignore everything:
*

# Except for the following:
# ========================

# core files
# ----------

!/.gitignore
!/README.md
!/makefile
!/LICENSE

!dosl/
!dosl/dosl

!dosl/utils/
!dosl/utils/*.hpp
!dosl/utils/*.tcc

!dosl/planners/
!dosl/planners/AStar.tcc

# TODO for SStar: Add 'SStar.tcc' planner, add 'metric_simplex_bits' subfolder of utils.

# examples folder
# ---------------

!examples-dosl/
!examples-dosl/makefile
!examples-dosl/*.h
!examples-dosl/*.cpp

!examples-dosl/exptfiles/
!examples-dosl/exptfiles/*.png
!examples-dosl/exptfiles/*.json

!examples-dosl/outfiles/
!examples-dosl/outfiles/.blank

!examples-dosl/include/
!examples-dosl/include/*.h
!examples-dosl/include/*.hpp
!examples-dosl/include/*.cpp
!examples-dosl/include/*.tcc

!examples-dosl/include/*/
!examples-dosl/include/*/*.h
!examples-dosl/include/*/*.hpp
!examples-dosl/include/*/*.cpp
!examples-dosl/include/*/*.tcc

!examples-dosl/include/*/*/
!examples-dosl/include/*/*/*.h
!examples-dosl/include/*/*/*.hpp
!examples-dosl/include/*/*/*.cpp
!examples-dosl/include/*/*/*.tcc

